<p id="notice"><%= notice %></p>
<h><%= link_to 'Home' %>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>User name:</strong>
  <%= @article.user_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @article.priority %>
</p>
<% if user_signed_in? %>
<%= link_to 'Show' %>
<%= link_to 'Edit', edit_article_path(article) %>
<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<%= link_to 'Show' %>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
